{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header">
    <h1>{{ post.title }}</h1>
  </div>
  <div class="card-body">
    <p>{{ post.content }}</p>
  </div>
  <div class="card-footer">
    <p>
      Posted by {{ post.author }} on {{ post.date_posted }}
      <span class="float-right">
        
        {% if user_has_liked %}
          <a href="{% url 'blog:like_post' post_id=post.id %}" class="btn btn-danger btn-sm">Unlike</a>
        {% else %}
          <a href="{% url 'blog:like_post' post_id=post.id %}" class="btn btn-success btn-sm">Like</a>
        {% endif %}
      </span>
    </p>
  </div>
</div>

<div class="card p-4 mt-2">
  <form method="post" action="{% url 'blog:add_comment' post_id=post.id %}">
    {% csrf_token %}
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Write your comment here..." id="comment" name="content" required>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Add Comment</button>
          </div>
        </div>
  </form>
</div>





<h2>Comments</h2>

<ul class="list-group">
  {% for comment in comments %}
    <li class="list-group-item">
      {{ comment.content }}
      <span class="text-muted">
        - {{ comment.author }} on {{ comment.date_posted }}
      </span>
    </li>
  {% endfor %}
</ul>
{% endblock %}
